@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700')

body
	margin 0
	font-size 15px
	font-family 'Roboto', sans-serif;
img
	max-width 100%
	max-height 100%
.menu
	position fixed
	width 100%
	height 85px
	padding 0 7px
	box-sizing border-box
	background rgba(255, 255, 255, 0.95)
	display flex
	justify-content space-between
	align-items center
	transition-duration 0.18s
	z-index 3
	&__logo
		padding 7px
		cursor pointer
		transition-duration 0.18s
		img
			height 50px
		&:hover
			opacity 0.75
			padding-top 11px
	&__buttons
		height 100%
		display flex
		justify-content center
		align-items center
	&__button
		margin 0 25px
		padding 7px 7px
		color rgba(0, 0, 0, 0.9)
		text-align center
		display flex
		flex-direction column
		justify-content center
		align-items center
		transition-duration 0.18s
		&:hover
			padding-top 11px
			opacity 0.75
			cursor pointer

.header
	position relative
	width 100%
	height 100vh
	box-sizing border-box
	display flex
	align-items center
	justify-content center
	text-align center
	&__content
		font-weight 200
		font-size 4em
		color white
		text-shadow 0 0 12px rgba(0, 0, 0, 0.5)
		transition-duration 0.18s
		z-index 2
	&__image
		overflow hidden
		position absolute
		height 100%
		width 100%
		background url('../images/header.jpg') center no-repeat
		background-size auto auto
		background-size 1700px 1000px

@media screen and (max-width: 550px)
	.menu
		justify-content center
	.menu__logo
		display none
	.header__content
		font-size 2.5em
@media screen and (max-width: 410px)
	.menu
		font-size 0.8em
@media screen and (max-width: 380px)
	.menu
		display none