@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,700')

body
	margin 0
	font-size 16px
	font-family 'Roboto', sans-serif;
img
	max-width 100%
	max-height 100%
.menu
	position absolute
	top 50px
	width 100%
	height 125px
	padding 0 60px
	box-sizing border-box
	display flex
	justify-content space-between
	align-items center
	transition-duration 0.21s
	z-index 3
	color white
	&--mini
		color rgba(255, 255, 255, 0.5)
		top 0
		padding 10px 60px
		position relative
		height auto
		background #222
		font-size 0.8em
		flex-direction row-reverse
	&__logo
		padding 7px
		cursor pointer
		transition-duration 0.21s
		img
			height 50px
		&:hover
			opacity 0.75
	&__buttons
		height 100%
		display flex
		justify-content center
		align-items center
	&__button
		margin 0 20px
		padding 7px 7px
		text-align center
		display flex
		flex-direction column
		justify-content center
		align-items center
		transition-duration 0.21s
		&:hover
			opacity 0.75
			cursor pointer

.header
	position relative
	width 100%
	height 680px
	box-sizing border-box
	display flex
	align-items center
	justify-content center
	text-align left
	&__content
		width 100%
		margin-top 80px
		padding 20px 8%
		color white
		transition-duration 0.18s
		line-height 0.82em
		z-index 2
		h1
			font-size 62px
			font-weight 400
		h2
			margin-left 7px
			font-size 21px
			font-weight 100
			font-style italic
	&__image
		top -30px
		overflow hidden
		position absolute
		height 120%
		width 100%
		background url('../../images/header.jpg') center no-repeat
		background-size auto auto
		background-size 1700px 1000px
		z-index -1
	&__check
		position absolute
		bottom -35px
		height 70px
		width 70px
		background url('../../images/icons/check.png') center 100% / 100% no-repeat
		z-index 3

.containers
	width 100%
	display grid
	background white
	grid-template 1fr / 1fr
	&__container
		display flex
		justify-content space-between
		align-items center
		box-sizing border-box
		padding 80px 16%
		&:nth-child(even)
			background #f1f1f1c8
	&__content
		max-width 400px
		text-align right
		h1
			font-size 34px
			font-weight 400
			margin 7px 0
			color #01091a
		h2
			font-size 22px
			font-weight 300
			color rgba(0, 0, 0, 0.7)
		&:nth-child(odd)
			text-align left
		&--centered
			margin 0 auto
			max-width 80%
			text-align center !important

section
	width 100%
	height 280px
	background #083395
	color white
	font-size 38px
	font-weight 400
	display flex
	justify-content center
	align-items center
	background url('../../images/dream.jpg') center 100% / 100%

.contact
	width 100%
	color white
	padding 60px 8% 80px 8%
	box-sizing border-box
	text-align center
	background url('../../images/contact.jpg') center 100% / 100%
	h1
		font-size 44px
		font-weight 800
	h2
		font-size 34px
		font-weight 300
	&__containers
		display grid
		grid-template 1fr / 1fr 1fr
	&__container
		margin 0
		display flex
		flex-direction column
		justify-content center
		align-items center
		text-align left
	&__input
		margin 10px 0
		padding 10 20px
		width 100%
		height 28px
		max-width 350px
		border 4px solid white
		background transparent
		color white
		font-weight 900
		display flex
		align-items center
		justify-content center
		font-size 1.1em

.footer
	width 100%
	background #222
	padding 60px 14%
	box-sizing border-box
	display flex
	justify-content space-around
	&--mini
		background #111
		padding 8px 8%
		color rgba(255, 255, 255, 0.3)
	&__container
		padding 2px
		display flex
		flex-direction column
		box-sizing border-box
		color rgba(255, 255, 255, 0.5)
		align-items flex-start
	&__button
		cursor pointer
		padding 4px
		text-align center
		display flex
		flex-direction column
		justify-content center
		align-items center
		transition-duration 0.21s
		&:hover
			opacity 0.75

@media screen and (max-width: 550px)
	.menu
		justify-content center
	.menu__logo
		display none
	.header__content
		font-size 2.5em
@media screen and (max-width: 410px)
	.menu
		font-size 0.8em
@media screen and (max-width: 380px)
	.menu
		display none

.floating
	animation-name floating
	animation-duration 3s
	animation-iteration-count infinite
	&--slow
		animation-duration 5s
	&--normal
		animation-duration 3s
	&--fast
		animation-duration 2s

@keyframes floating
	0%
		transform translateY(0%)
	50%
		transform translateY(18%)
	100%
		transform translateY(0%)