html
  head
    meta(charset='UTF-8')
    title Nova transport
    link(rel='stylesheet' href='css/style.css')
  body
    .menu
      .menu__logo
        img(src='../images/logo.png')
      .menu__buttons
        .menu__button Strona główna
        .menu__button O nas
        .menu__button Kontakt