html
  head
    meta(charset='UTF-8')
    title Nova transport
    link(rel='stylesheet' href='css/style.css')
  body
    .menu.menu--mini
      .menu__buttons
        .menu__button Kariera
        .menu__button Dział obsługi klienta
        .menu__button Regulamin
    .menu
      .menu__logo
        img(src='../images/logo.png')
      .menu__buttons
        .menu__button Strona główna
        .menu__button O nas
        .menu__button Kontakt
   
    .header
      .header__content
        h1 Transport i spedycja
        h2 Twój towar w najlepszych rękach
      .header__image
      .header__check.floating.floating--slow
    .containers
      .containers__container
        .containers__icon
          img(src='../images/icons/truck.png' height='90')
        .containers__content
          h1 Zawsze na czas
          h2 Cenimy Twój czas, dlatego 
            | dokładamy wszelkich starań aby
            | zamówiony przez Ciebie transport
            | dotarł jak najprędzej.
      .containers__container
        .containers__content
          h1 Nasza flota
          h2 Dysponujemy kilkunastoma nowoczesnymi 
            | pojazdami o ładowności do 24 ton i naczepami 13,6. 
            | Wykonujemy regularne kursy 
            | do Rumunii, Bułgarii, Słowacji, Grecji oraz Węgier.
        .containers__icon
          img(src='../images/icons/trucks.png' height='100')
      .containers__container
        .containers__icon.floating.floating--normal
          img(src='../images/icons/shield.png' height='140')
        .containers__content
          h1 Bezpieczeństwo przede wszystkim
          h2 Cenimy Twój czas, dlatego 
            | dokładamy wszelkich starań aby
            | zamówiony przez Ciebie transport
            | dotarł jak najprędzej.
    section O nas
    .containers
      .containers__container
        .containers__content.containers__content--centered
          h2
            |  Nasza firma konsekwentnie realizuje politykę jakości 
            |  która gwarantuje wszystkim Klientom wysoki poziom obsługi,
            |  zarówno na etapie kontraktowania jak również w trakcie realizacji procesu przewozowego. 
            |  W trosce o naszych Zleceniodawców wprowadzamy 
            |  innowacyjne rozwiązania logistyczne i stale unowocześniamy flotę pojazdów.
            |  Gwarantujemy Państwu terminowość odbioru i dostaw ładunków, 
            |  zapewniamy możliwie najkrótszy czas realizacji zleceń oraz korzystne ceny. 
            |  Zatrudniamy doświadczonych kierowców, a wysokie wyposażenie
            |  techniczne i tabor samochodowy w nienagannym stanie powodują, 
            |  że współpraca z naszą firmą jest źródłem satysfakcji.