html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Nova transport
    link(rel='stylesheet' href='build/css/style.css')
  body
    .menu.menu--mini
      .menu__buttons
        .menu__button Career
        .menu__button Customer service
        .menu__button Terms and conditions
        .menu__button Fleet
        .menu__button Package status
    .menu
      .menu__logo
        img(src='images/logo.png')
      .menu__buttons
        .menu__button Home
        .menu__button About
        .menu__button Contact
   
    .header
      .header__content
        h1 Transport and spedition
        i Your cargos are in the best hands
      .header__image
      .header__check.floating.floating--slow
    .containers
      .containers__container.revealOnScroll
        .containers__icon
          img(src='images/icons/truck.png' height='90')
        .containers__content
          h1 Always on time
          h2 We value your time, therefore
            | we are putting all effort to make sure that
            | the transport that you've ordered will
            | arrive as fast as possible.
      .containers__container.revealOnScroll
        .containers__content
          h1 Our fleet
          h2 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .containers__icon
          img(src='images/icons/trucks.png' height='80')
      .containers__container.revealOnScroll
        .containers__icon.floating.floating--normal
          img(src='images/icons/shield.png' height='140')
        .containers__content
          h1 Safety first
          h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    section O nas
    .containers
      .containers__container.revealOnScroll
        .containers__content.containers__content--centered
          h2 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
    .contact
      h1 Contact
      .contact__containers.revealOnScroll
        .contact__container
          p Telephones:
          .contact__input
            p +48 608483944
          .contact__input
            p +48 456109563
          p E-mail:
          .contact__input
            p contact@nova-transport.eu
        .contact__container
          h2
            | Nova Kurcz, Maduzia Sp.J. <br>
            | Przemysłowa 6, 38-200 <br>
            | Jasło
    .footer
      .footer__container
        .footer__button Ads
        .footer__button HR Department
        .footer__button API
        .footer__button Bank accounts
        .footer__button Addresses
      .footer__container
        .footer__button Facebook
        .footer__button Instagram
        .footer__button Snapchat
      .footer__container
        .footer__button License
        .footer__button Terms and conditions
    .footer.footer--mini
      p Copyright &copy; Nova Transport 2018, Made by Karol Swierczek
  script(src='src/js/index.js')
