html
  head
    meta(charset='UTF-8')
    title Nova transport
    link(rel='stylesheet' href='css/style.css')
  body
    .menu
      .menu__logo
        img(src='../images/logo.png')
      .menu__buttons
        .menu__button Strona główna
        .menu__button O nas
        .menu__button Kontakt
   
    .header
      .header__content
        h1 Transport i spedycja
        h2 Twój towar w najlepszych rękach
      .header__image
      .header__check
    .containers
      .containers__container
        .containers__icon
          img(src='../images/icons/truck.png' height='90')
        .containers__content
          h1 Zawsze na czas
          h2 Cenimy Twój czas, dlatego 
            | dokładamy wszelkich starań aby
            | zamówiony przez Ciebie transport
            | dotarł jak najprędzej.
      .containers__container
        .containers__content
          h1 Nasza flota
          h2 Dysponujemy kilkunastoma nowoczesnymi 
            | pojazdami o ładowności do 24 ton i naczepami 13,6. 
            | Wykonujemy regularne kursy 
            | do Rumunii, Bułgarii, Słowacji, Grecji oraz Węgier.
        .containers__icon
          img(src='../images/icons/trucks.png' height='100')
      .containers__container
        .containers__icon
          img(src='../images/icons/shield.png' height='140')
        .containers__content
          h1 Bezpieczeństwo przede wszystkim
          h2 Cenimy Twój czas, dlatego 
            | dokładamy wszelkich starań aby
            | zamówiony przez Ciebie transport
            | dotarł jak najprędzej.